@model IEnumerable<WebApplication3.Models.Clases.Categoria>

@{
    ViewBag.Title = "Index";
    string mensaje = "";
    string claseBtn = "btn btn-info";
}
<h2>Categorias </h2>

<table class="table table-bordered table-responsive-xl">

    <tr tr class="bg-warning">
        <th>Nombre</th>
        <th>Estado</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.nombre)</td>
            <td>@(item.condicion?"Activo":"Desactivado")</td>
            <td>
                <a  href="/Categoria/Edit?id=@item.id">Editar</a>|
                <a  href="/Categoria/Delete?id=@item.id">@(!item.condicion?"Activar":"Desactivar")</a>
            </td>
        </tr>
    }

</table>
