
@{
    ViewBag.Title = "search";

}
1979-12-31

<form action="" method="post">
    <input type="date" max="@ViewBag.fechaMaxima" value="@Model"  name="dateQuery" />
    <button>Enviar</button>
</form>
<div id="app<<">

</div>

<h2>search</h2>

